html {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.975rem;
  font-weight: normal;
  line-height: 1.5;
  color: #4a4a4a;
  text-align: left;
  background-color: #fff;
  height: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

button {
  background-color: #0097e6;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px; }

textarea {
  margin: 18px;
  box-shadow: 3px 3px 5px #5c5b60;
  font-size: 14px;
  padding: 10px; }

label {
  text-align: left;
  padding: 5% 0; }

#root {
  margin: 0;
  height: 100%; }

.topnav {
  overflow: hidden;
  background-color: #8e24aa;
  color: #fff;
  height: 30px;
  font-size: 18px;
  padding: 1%; }

.logo {
  width: 25px;
  padding: 3px 3px 0px 2px; }

.empty-view {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #fff; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  width: 10%;
  min-width: 300px;
  overflow: scroll;
  padding: 50px 40px;
  box-shadow: -8px -8px 16px #aeadb6, 8px 8px 16px #ffffff;
  border: solid 1px var(--white);
  background-color: #fff;
  margin: auto;
  text-align: center; }

.signup {
  padding: 5% 0;
  color: #0091ea; }

.error {
  color: #d50000; }

.hide {
  display: none; }

.workflow_bar {
  display: flex;
  box-shadow: 5px 5px 16px #5c5b60;
  height: 80px;
  justify-content: space-between; }

#WorkflowName {
  width: 20%;
  min-width: 195px;
  margin: 15px;
  box-shadow: 0px 1px 3px #5c5b6094; }

.buttons {
  align-content: center;
  margin: 15px; }

.btn {
  margin-right: 12px; }

.shuffle {
  background-color: #5e35b1; }

.add_node {
  background-color: #00c853; }

.delete {
  background-color: #ef403d; }

.nodes {
  display: flex;
  flex-wrap: wrap; }

.node {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  margin: 20px;
  background: #fff;
  box-shadow: 5px 5px 16px #5c5b60, -5px -5px 16px #ffffff; }

#content {
  height: 300px; }

.tick {
  width: 32px;
  height: 32px;
  position: relative;
  left: 271px;
  top: -7px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 1000;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  cursor: pointer; }

.search {
  border-radius: 20px;
  min-width: 190px;
  padding: 12px; }

.filter_search {
  display: flex; }

.workflowCard {
  height: 60%;
  padding: 1%;
  overflow: hidden;
  width: 400px; }
  .workflowCard .workflowname {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    height: 40px; }
  .workflowCard .delete {
    background-color: #fff;
    left: 90%;
    top: 34px;
    padding: 5px;
    cursor: pointer; }
  .workflowCard .state {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 500; }
    .workflowCard .state .status {
      font-size: 18px; }
    .workflowCard .state .tick {
      top: 3px;
      left: 0px;
      cursor: pointer; }

.dropdown {
  width: 100%; }
  .dropdown .btn {
    width: inherit; }
  .dropdown .dropdown-menu {
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.175);
    border: solid 1px var(--white);
    background-color: #fff;
    position: absolute;
    width: 150px;
    left: 265px;
    top: 100px;
    float: left;
    min-width: 100px;
    padding: 5px;
    font-size: 15px;
    text-align: left;
    list-style: none;
    z-index: 9999;
    border-radius: 4px; }
    .dropdown .dropdown-menu li {
      background-color: transparent;
      color: #0097e6;
      box-shadow: none;
      padding: 5%;
      cursor: pointer; }
    .dropdown .dropdown-menu li:hover {
      background-color: rgba(0, 0, 0, 0.12);
      color: #0097e6;
      box-shadow: none; }
